<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Thermostat</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../js/thermostat.js"></script>
    <script src="../js/interface.js"></script>
    <link rel="stylesheet" href="./css/interface.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="starter-template">
        <h1 class="text-center">Thermostatic Control Unit</h1>
          <p class="lead">Use this thermometer to quickly adapt your climate.<br> All you get is the bare bones and Mr. T</p>
          <div class="row">
            <div class="col-xs-6 col-md-4">
            </div>
            <div class="col-xs-6 col-md-4">
              Power saving mode enabled: <span id="power-saving-status"></span><br><br>
              <button class="btn btn-success" id="psm_on" type="button" name="powersave">powersave mode on</button>
              <button id="psm_off" class="btn btn-warning" type="button" name="powersave">powersave mode off</button><br><br>
              <p>Current Thermostat Temperature: <span id='temperature'></span>˚C</p>
              <button id="temp-up" class="btn btn-default" type="button" name="up">Up</button>
              <button id="temp-down" class="btn btn-default" type="button" name="down">Down</button>
              <button id="reset" class="btn btn-info"type="button" name="reset">Reset</button><br>
            </div>
            <div class="col-xs-6 col-md-4">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-4" >
            </div>
            <div class="col-xs-6 col-md-4">
              <p>Energy Usage</p><span id="energy-usage-status"></span><br><br>
              Temperature in London: <span id="weather_london"></span>˚C<br>
              <img src ="../images/mrt.jpg" class="img-responsive img-rounded" alt="Responsive image" >
            </div><br>
            <div class="col-xs-6 col-md-4">
            </div>
          </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
