body {

  font-weight: normal

}

span {

  font-weight: bold;

}

background {
  background-image: url(../image/escheresque.png);
}


.high-usage {

  color: red;

}

.medium-usage {

  color: black;

}

.low-usage {

  color: green;

}
